@import "tailwindcss";

:root {

  --bg-primary: #f7f7f7;
  --bg-header: #ffffff;
  --bg-input: #ffffff;
  --bg-button: #E0E7FF;
  --bg-bubble-bot: #ffffff;

  --color-text: #1f2937;
  --color-subtext: #6b7280;
  --color-button-text: #1f2937;
  --color-bubble-user: #4F46E5; 
  --color-bubble-user-text: white;
  --color-mic-active: #9333ea; 
  --color-bot-speak: #2563eb; 
  --color-send-button: #10B981; 


  --border-primary: #e5e7eb;
  --border-bubble-bot: #e5e7eb;
  --border-input: #d1d5db;


  transition: 
    background-color 0.3s ease, 
    color 0.3s ease, 
    border-color 0.3s ease;
}


.dark-mode { 

  --bg-primary: #111827;
  --bg-header: #1F2937;
  --bg-input: #1F2937;
  --bg-button: #334155;
  --bg-bubble-bot: #374151;


  --color-text: #f3f4f6;
  --color-subtext: #9ca3af;
  --color-button-text: #e5e7eb;
  --color-mic-active: #a78bfa;
  --color-bot-speak: #93c5fd;


  --border-primary: #374151;
  --border-bubble-bot: #4b5563;
  --border-input: #4b5563;
}

body {

  font-family: Arial, Helvetica, sans-serif;
}
